html { height: 100%; overflow:auto; }
body { height: 100%; }

.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"]:after,
.navbar-vertical .navbar-nav .nav-link[data-bs-toggle="collapse"][aria-expanded="true"]:after {
    color: white;
}

.navbar-vertical.navbar-expand-xs .navbar-collapse {
    height: 100vh;
}

.ps__thumb-x {
    display: none;
}



/* .content .row div .card .card-header {
    margin: 0px 15px 0;
    background: linear-gradient(60deg, #7b1fa2, #913f9e);
    border-radius: 5px;
    margin-top: -20px;
    padding: 15px;
    z-index: 3;
} */

.dropzone {
    min-height: 0px;
    border-radius: 5px;
}

.dz-remove {
    position: absolute;
    top: -15px;
    right: -15px;
    cursor: pointer !important;
    z-index: 1001;
}

.dz-remove i {
    font-size: 1.5rem;
}

.sort-editor {
    height: 150px;
}

.long-editor {
    height: 350px;
}

.generate-sku-btn {
    cursor: pointer;
}

.form-group.invalid .input-group input,
.form-group.invalid .input-group select,
.form-group.invalid .input-group textarea {
    border-color: #f33a58;
    animation: shake 0.1s;
}

.form-group.invalid .form-message {
    color: #f33a58;
    animation: shake 0.1s;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(0);
    }

    75% {
        transform: translateX(5px);
    }

    100% {
        transform: translateX(0);
    }
}

.tab-content {
    padding: 0;
}

.card-header {
    border-radius: 0 !important;
}

.tab-error {
    border: 1px solid red !important;
}

.input-group-text button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}